### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_27_04_2023_15_44_\[Changes\]/hamcrest-core-1.3.jar
.idea/shelf/Uncommitted_changes_before_Update_at_27_04_2023_15_44_\[Changes\]/shelved.patch
lib/hamcrest-core-1.3.jar
lib/junit-4.12.jar
~$PJ_KI_MST1.pptx
.idea/workspace.xml
